# Consensus
/consensus/ @zeegomo @youngjoon-lee @davidrusu
/nomos-services/chain-service @zeegomo @youngjoon-lee @danielSanchezQ

# Mantle
/ledger/ @zeegomo @danielSanchezQ @davidrusu @bacv

# Blend
/nomos-blend/  @youngjoon-lee @ntn-x2
/nomos-services/blend @youngjoon-lee @ntn-x2

# DA
/nomos-services/data-availability @danielSanchezQ @bacv @pradovic
/nomos-da/ @danielSanchezQ @bacv @pradovic

# SDP
/nomos-sdp/ @bacv @pradovic
/nomos-services/sdp @bacv @pradovic
