[package]
edition = "2021"
license = { workspace = true }
name    = "nomos-network"
version = "0.1.0"

[lints]
workspace = true

[dependencies]
async-trait      = "0.1"
cryptarchia-sync = { workspace = true }
futures          = { default-features = false, version = "0.3" }
nomos-core       = { workspace = true }
nomos-libp2p     = { optional = true, workspace = true }
overwatch        = { workspace = true }
rand             = { features = ["std"], optional = true, workspace = true }
serde            = { default-features = false, version = "1.0" }
tokio            = { default-features = false, version = "1" }
tokio-stream     = { default-features = false, version = "0.1" }
tracing          = { workspace = true }
utoipa           = { optional = true, workspace = true }

[dev-dependencies]
chrono             = { default-features = false, features = ["now"], version = "0.4" }
tokio              = { default-features = false, version = "1" }
tracing-subscriber = { default-features = false, features = ["env-filter", "fmt", "std"], version = "0.3" }

[features]
default = []
libp2p  = ["cryptarchia-sync/libp2p", "dep:nomos-libp2p", "dep:rand"]
mock    = ["dep:rand"]
openapi = ["dep:utoipa"]
