[package]
edition = { workspace = true }
license = { workspace = true }
name    = "chain-leader"
version = "0.1.0"

[lints]
workspace = true

[dependencies]
async-trait         = "0.1"
chain-common        = { workspace = true }
chain-service       = { workspace = true }
cryptarchia-engine  = { workspace = true }
ed25519-dalek       = { default-features = false, features = ["serde"], version = "2.2.0" }
futures             = { default-features = false, version = "0.3" }
groth16             = { workspace = true }
nomos-blend-service = { workspace = true }
nomos-core          = { workspace = true }
nomos-da-sampling   = { workspace = true }
nomos-ledger        = { features = ["serde"], workspace = true }
nomos-time          = { workspace = true }
num-bigint          = { version = "0.4", default-features = false }
overwatch           = { workspace = true }
serde               = { default-features = false, version = "1" }
services-utils      = { workspace = true }
thiserror           = "1.0"
tokio               = { default-features = false, version = "1" }
tracing             = { workspace = true }
tracing-futures     = { default-features = false, version = "0.2" }
tx-service          = { workspace = true }

[features]
default      = []
libp2p       = ["nomos-blend-service/libp2p"]
pol-dev-mode = ["nomos-core/pol-dev-mode"]
